<div class="foam">
  <div class="foam_a"></div>
  <div class="foam_b"></div>
</div>
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.title}}</span>
        <span class="site-description">{{site.description}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Github" target="_blank" href="https://github.com/constig/beer-data-story"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#story" data-scroll>Read the Story</a>
        <a class="link" href="#team" data-scroll>Meet the Team</a>
      </div>
  </div>
  <a class="down" href="#story" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
