 <div class="section">
  <h1> Meet the Team </h1>
  <p> Our team <strong>Fraises TagADA</strong> consists of the following members: </p>
</div>
  <div class="user">
    <div class="user-sub">
      <div class="tech">
        <h2>Constance GONTIER</h2>
        <img class="team-img" src="{{ "/assets/img/coco.jpeg" | prepend: site.baseurl }}"></img>
        <p>Short Description</p>
      </div>
      <div class="tech">
        <h2>Hendrik HILSBERG</h2>
        <img class="team-img" src="{{ "/assets/img/blank.png" | prepend: site.baseurl }}"></img>
        <p>Short Description</p>
      </div>
    </div>
    <div class="user-sub">
      <div class="tech">
        <h2>Kieran VAUDAUX</h2>
        <img class="team-img" src="{{ "/assets/img/kieran.JPG" | prepend: site.baseurl }}"></img>
        <p>Short Description</p>
      </div>
      <div class="tech">
        <h2>Aitana WAELBROECK</h2>
        <img class="team-img" src="{{ "/assets/img/blank.png" | prepend: site.baseurl }}"></img>
        <p>Short Description</p>
      </div>
    </div>
</div>
